# SahulatKaar Website Configuration

# Phone Number for WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=923261440088

# Email
NEXT_PUBLIC_EMAIL=help.sahulatkaar@gmail.com

# Phone
NEXT_PUBLIC_PHONE=+923261440088

# Instagram
NEXT_PUBLIC_INSTAGRAM=sahulatkaar_3.0

# App Link
NEXT_PUBLIC_APP_LINK=https://play.google.com/store/apps/details?id=com.aak.remotepresence

# Google Analytics
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Facebook Pixel
NEXT_PUBLIC_FB_PIXEL_ID=XXXXXXXXXX
